<!DOCTYPE html>
<html>
<!--include "../../templet/head.components.html"-->

<body>
    <div id="demoCode">
        <!-- 通告栏示例 - 开始 -->
        <div class="ryt-notice-bar">
            <div class="ryt-notice-bar-icon">
                <div class="ryt-icon ryt-icon-voice ryt-icon-xxs"></div>
            </div>
            <div class="ryt-notice-bar-content">
                <div class="ryt-notice-bar-marquee-wrap">
                    <div class="ryt-notice-bar-marquee marquee1">
                        Notice: The arrival time of incomes and transfers of Yu 'E Bao will be delayed during National Day.
                    </div>
                </div>
            </div>
        </div>
        <!-- 通告栏示例 - 结束 -->
        <!-- 通告栏示例 - 开始 -->
        <div class="ryt-notice-bar">
            <div class="ryt-notice-bar-icon">
                <div class="ryt-icon ryt-icon-voice ryt-icon-xxs"></div>
            </div>
            <div class="ryt-notice-bar-content">
                <div class="ryt-notice-bar-marquee-wrap ">
                    <div class="ryt-notice-bar-marquee marquee2">
                        Notice: The arrival time of incomes and transfers of Yu 'E Bao will be delayed during National Day.
                    </div>
                </div>
            </div>
            <div class="ryt-notice-bar-operation">
                <div class="ryt-icon ryt-icon-right ryt-icon-md"></div>
            </div>
        </div>
        <!-- 通告栏示例 - 结束 -->
        <!-- 通告栏示例 - 开始 -->
        <div class="ryt-notice-bar">
            <div class="ryt-notice-bar-content">
                <div class="ryt-notice-bar-marquee-wrap ">
                    <div class="ryt-notice-bar-marquee marquee3">
                        Remove the default icon.
                    </div>
                </div>
            </div>
            <div class="ryt-notice-bar-operation">
                <div class="ryt-icon ryt-icon-cross ryt-icon-md"></div>
            </div>
        </div>
        <!-- 通告栏示例 - 结束 -->
        <!-- 通告栏示例 - 开始 -->
        <div class="ryt-notice-bar">
            <div class="ryt-notice-bar-icon">
                <div class="ryt-icon ryt-icon-voice ryt-icon-xxs"></div>
            </div>
            <div class="ryt-notice-bar-content">
                <div class="ryt-notice-bar-marquee-wrap ">
                    <div class="ryt-notice-bar-marquee marquee4">
                        Customized icon.
                    </div>
                </div>
            </div>
            <div class="ryt-notice-bar-operation">
                <div class="ryt-icon ryt-icon-cross ryt-icon-md"></div>
            </div>
        </div>
        <!-- 通告栏示例 - 结束 -->
    </div>
    <!--include "../../templet/js.components.html"-->
</body>

</html>