<!DOCTYPE html>
<html>
<!--include "../../templet/head.components.html"-->

<body>
    <div id="demoCode">
        <div class="ryt-progress">
            <!-- 进度条 - 开始 -->
            <div class="ryt-progress-outer ryt-progress-fixed-outer">
                <div class="ryt-progress-bar"></div>
            </div>
            <!-- 进度条 - 结束 -->
            <!-- 进度条 - 开始 -->
            <div class="ryt-progress-outer ryt-progress-hide-outer">
                <div class="ryt-progress-bar"></div>
            </div>
            <!-- 进度条 - 结束 -->
            <!-- 进度条 - 开始 -->
            <div class="show-info">
                <div class="progress">
                    <div class="ryt-progress-outer">
                        <div class="ryt-progress-bar"></div>
                    </div>
                </div>
                <div>50</div>
                <div>%</div>
            </div>
            <!-- 进度条 - 结束 -->
            <a onclick="add()" role="button" class="ryt-button ryt-button-inline"><span>(+-)10</span>
            </a>
        </div>
    </div>
    <!--include "../../templet/js.components.html"-->
    <script type="text/javascript">
        function add() {
            var val = Number($('.progress').next().text())
            console.log()
            if(val == 100){
                val = 0;
                $('.progress').next().text(val)
            }else{
                val += 10;
                $('.progress').next().text(val)
            }
            $('.ryt-progress-bar').css('width',val + '%');
        }
    </script>
</body>

</html>