<!DOCTYPE html>
<html>
<!--include "../../templet/head.components.html"-->

<body>
<div id="demoCode">

    <!--选择地区开始-->
    <div>
        <div class="ryt-picker-popup-mask"></div>
        <div class="ryt-picker-popup-wrap">
            <div role="document" class="ryt-picker-popup">
                <div class="ryt-picker-popup-content">
                    <div class="ryt-picker-popup-body">
                        <div>
                            <div class="ryt-picker-popup-header">
                                <div class="ryt-picker-popup-item ryt-picker-popup-header-left">
                                    取消
                                </div>
                                <div class="ryt-picker-popup-item ryt-picker-popup-title">
                                    选择地区
                                </div>
                                <div class="ryt-picker-popup-item ryt-picker-popup-header-right">
                                    确定
                                </div>
                            </div>
                            <div class="ryt-picker">
                                <div class="ryt-picker-col">
                                    <div class="ryt-picker-col-mask"></div>
                                    <div class="ryt-picker-col-indicator"></div>
                                    <div class="ryt-picker-col-content">
                                        <div class="ryt-picker-col-item ryt-picker-col-item-selected ">
                                            安徽省
                                        </div>
                                        <div class="ryt-picker-col-item ">澳门特别行政区</div>
                                        <div class="ryt-picker-col-item ">北京</div>
                                        <div class="ryt-picker-col-item ">广西壮族自治区</div>
                                        <div class="ryt-picker-col-item ">香港特别行政区</div>
                                        <div class="ryt-picker-col-item ">浙江省</div>
                                    </div>
                                </div>
                                <div class="ryt-picker-col">
                                    <div class="ryt-picker-col-mask"></div>
                                    <div class="ryt-picker-col-indicator "></div>
                                    <div class="ryt-picker-col-content">
                                        <div class="ryt-picker-col-item ryt-picker-col-item-selected ">
                                            六安市
                                        </div>
                                        <div class="ryt-picker-col-item ">马鞍山市</div>
                                        <div class="ryt-picker-col-item ">宣城市</div>
                                    </div>
                                </div>
                                <div class="ryt-picker-col">
                                    <div class="ryt-picker-col-mask"></div>
                                    <div class="ryt-picker-col-indicator "></div>
                                    <div class="ryt-picker-col-content">
                                        <div class="ryt-picker-col-item ryt-picker-col-item-selected ">
                                            霍邱县
                                        </div>
                                        <div class="ryt-picker-col-item ">霍山县</div>
                                        <div class="ryt-picker-col-item ">金安区</div>
                                        <div class="ryt-picker-col-item ">金寨县</div>
                                        <div class="ryt-picker-col-item ">其它区</div>
                                        <div class="ryt-picker-col-item ">寿县</div>
                                        <div class="ryt-picker-col-item ">舒城县</div>
                                        <div class="ryt-picker-col-item ">裕安区</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--选择地区结束-->

    <!--多列不联动 开始-->
        <div style="display: none">
            <div class="ryt-picker-popup-mask"></div>
            <div class="ryt-picker-popup-wrap ">
                <div class="ryt-picker-popup">
                    <div class="ryt-picker-popup-content">
                        <div class="ryt-picker-popup-body">
                            <div>
                                <div class="ryt-picker-popup-header">
                                    <div class="ryt-picker-popup-item ryt-picker-popup-header-left">
                                        取消
                                    </div>
                                    <div class="ryt-picker-popup-item ryt-picker-popup-title">
                                        选择季节
                                    </div>
                                    <div class="ryt-picker-popup-item ryt-picker-popup-header-right">
                                        确定
                                    </div>
                                </div>
                                <div class="ryt-picker">
                                    <div class="ryt-picker-col">
                                        <div class="ryt-picker-col-mask"></div>
                                        <div class="ryt-picker-col-indicator "></div>
                                        <div class="ryt-picker-col-content">
                                            <div class="ryt-picker-col-item ryt-picker-col-item-selected ">
                                                2013
                                            </div>
                                            <div class="ryt-picker-col-item ">2014</div>
                                        </div>
                                    </div>
                                    <div class="ryt-picker-col">
                                        <div class="ryt-picker-col-mask"></div>
                                        <div class="ryt-picker-col-indicator "></div>
                                        <div class="ryt-picker-col-content">
                                            <div class="ryt-picker-col-item ryt-picker-col-item-selected ">
                                                春
                                            </div>
                                            <div class="ryt-picker-col-item ">夏</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--多列不联动 结束-->

    <!--单列选择 开始-->
        <div style="display: none">
            <div class="ryt-picker-popup-mask"></div>
            <div class="ryt-picker-popup-wrap ">
                <div class="ryt-picker-popup forss">
                    <div class="ryt-picker-popup-content">
                        <div class="ryt-picker-popup-body">
                            <div>
                                <div class="ryt-picker-popup-header">
                                    <div class="ryt-picker-popup-item ryt-picker-popup-header-left">
                                        取消
                                    </div>
                                    <div class="ryt-picker-popup-item ryt-picker-popup-title"></div>
                                    <div class="ryt-picker-popup-item ryt-picker-popup-header-right">
                                        确定
                                    </div>
                                </div>
                                <div class="ryt-picker">
                                    <div class="ryt-picker-col">
                                        <div class="ryt-picker-col-mask"></div>
                                        <div class="ryt-picker-col-indicator "></div>
                                        <div class="ryt-picker-col-content">
                                            <div class="ryt-picker-col-item ryt-picker-col-item-selected ">
                                                安徽省
                                            </div>
                                            <div class="ryt-picker-col-item ">澳门特别行政区</div>
                                            <div class="ryt-picker-col-item ">北京</div>
                                            <div class="ryt-picker-col-item ">广西壮族自治区</div>
                                            <div class="ryt-picker-col-item ">香港特别行政区</div>
                                            <div class="ryt-picker-col-item ">浙江省</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--单列选择 结束-->
</div>


<!--include "../../templet/js.components.html"-->
</body>

</html>