<!DOCTYPE html>
<html>
<!--include "../../templet/head.components.html"-->

<body>
    <div id="demoCode">
        <!-- xxs 30*30 -->
        <div class="ryt-icon ryt-icon-xxs ryt-icon-navbar-arrow-left"></div>
        <!-- xs 36*36 -->
        <div class="ryt-icon ryt-icon-xs ryt-icon-navbar-arrow-left"></div>
        <!-- sm 42*42 -->
        <div class="ryt-icon ryt-icon-sm ryt-icon-navbar-arrow-left"></div>
        <!-- md 44*44 -->
        <div class="ryt-icon ryt-icon-md ryt-icon-navbar-arrow-left"></div>
        <!-- lg 72*72 -->
        <div class="ryt-icon ryt-icon-lg ryt-icon-navbar-arrow-left"></div>
        <!-- lg-rotate 72*72 -->
        <div class="ryt-icon ryt-icon-lg ryt-icon-loading ryt-icon-navbar-arrow-left"></div>
    </div>
    <!--include "../../templet/js.components.html"-->
</body>

</html>