<!DOCTYPE html>
<html>
<!--include "../../templet/head.components.html"-->

<body>
    <div id="demoCode">
        <p>步骤条</p>
            <p>Small size</p>
            <!-- 步骤条Small size示例 - 开始 -->
            <div class="ryt-steps ryt-steps-small ryt-steps-vertical">
                <div class="ryt-steps-item ryt-steps-status-finish ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><svg class="ryt-icon ryt-icon-check-circle-o ryt-icon-md"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-circle-o"></use></svg></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Finished</div>
                            <div class="ryt-steps-description">This is description</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-process">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon">2</span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">In Progress</div>
                            <div class="ryt-steps-description">This is description</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-wait ryt-steps-custom ellipsis-item">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><svg class="ryt-icon ryt-icon-ellipsis ryt-icon-md"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ellipsis"></use></svg></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Waiting</div>
                            <div class="ryt-steps-description">This is description</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 步骤条Small size示例 - 结束 -->
            <p>Small size, single line text</p>
            <!-- 步骤条Small size, single line text示例 - 开始 -->
            <div class="ryt-steps ryt-steps-small ryt-steps-vertical">
                <div class="ryt-steps-item ryt-steps-status-finish ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><svg class="ryt-icon ryt-icon-check-circle-o ryt-icon-md"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-circle-o"></use></svg></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Finished</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-process">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon">2</span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">In Progress</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-wait ryt-steps-custom ellipsis-item">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><svg class="ryt-icon ryt-icon-ellipsis ryt-icon-md"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ellipsis"></use></svg></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Waiting</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 步骤条Small size, single line text示例 - 结束 -->
            <p>Default size</p>
            <!-- 步骤条Default size示例 - 开始 -->
            <div class="ryt-steps ryt-steps-vertical">
                <div class="ryt-steps-item ryt-steps-status-process error-tail">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon">1</span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Finished</div>
                            <div class="ryt-steps-description">This is description</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-error ryt-steps-custom ellipsis-item">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><svg class="ryt-icon ryt-icon-cross-circle-o ryt-icon-md"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cross-circle-o"></use></svg></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Error</div>
                            <div class="ryt-steps-description">This is description</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-wait ryt-steps-custom ellipsis-item">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><svg class="ryt-icon ryt-icon-ellipsis ryt-icon-md"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ellipsis"></use></svg></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Waiting</div>
                            <div class="ryt-steps-description">This is description</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 步骤条Default size示例 - 结束 -->
            <p>Customized status </p>
            <!-- 步骤条Customized status示例 - 开始 -->
            <div class="ryt-steps ryt-steps-vertical">
                <div class="ryt-steps-item ryt-steps-status-finish ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><img src="https://gw.alipayobjects.com/zos/rmsportal/hsDpIpVTdVdhfvcLseyy.svg" class="ryt-icon ryt-icon-md" alt="icon"></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Step 1</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-process ryt-steps-custom error-tail">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><img src="https://gw.alipayobjects.com/zos/rmsportal/hsDpIpVTdVdhfvcLseyy.svg" class="ryt-icon ryt-icon-md" alt="icon"></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Step 2</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-error ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><img src="https://gw.alipayobjects.com/zos/rmsportal/hsDpIpVTdVdhfvcLseyy.svg" class="ryt-icon ryt-icon-md" alt="icon"></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Step 3</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 步骤条Customized status示例 - 结束 -->
            <p>Customized icon </p>
            <!-- 步骤条Customized icon示例 - 开始 -->
            <div class="ryt-steps ryt-steps-vertical">
                <div class="ryt-steps-item ryt-steps-status-finish ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><img src="https://gw.alipayobjects.com/zos/rmsportal/hsDpIpVTdVdhfvcLseyy.svg" class="ryt-icon ryt-icon-md" alt="icon"></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Step 1</div>
                            <div class="ryt-steps-description">This is description</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-process ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><img src="https://gw.alipayobjects.com/zos/rmsportal/hsDpIpVTdVdhfvcLseyy.svg" class="ryt-icon ryt-icon-md" alt="icon"></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Step 2</div>
                            <div class="ryt-steps-description">This is description</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-wait ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><img src="https://gw.alipayobjects.com/zos/rmsportal/hsDpIpVTdVdhfvcLseyy.svg" class="ryt-icon ryt-icon-md" alt="icon"></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Step 3</div>
                            <div class="ryt-steps-description">This is description</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 步骤条Customized icon示例 - 结束 -->
            <p>Multiple steps </p>
            <!-- 步骤条Multiple steps示例 - 开始 -->
            <div class="ryt-steps ryt-steps-vertical">
                <div class="ryt-steps-item ryt-steps-status-finish ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><img src="https://gw.alipayobjects.com/zos/rmsportal/hsDpIpVTdVdhfvcLseyy.svg" class="ryt-icon ryt-icon-md" alt="icon"></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Step 1</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-process ryt-steps-custom error-tail">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><img src="https://gw.alipayobjects.com/zos/rmsportal/hsDpIpVTdVdhfvcLseyy.svg" class="ryt-icon ryt-icon-md" alt="icon"></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Step 2</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-error ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><img src="https://gw.alipayobjects.com/zos/rmsportal/hsDpIpVTdVdhfvcLseyy.svg" class="ryt-icon ryt-icon-md" alt="icon"></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Step 3</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-wait ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><img src="https://gw.alipayobjects.com/zos/rmsportal/hsDpIpVTdVdhfvcLseyy.svg" class="ryt-icon ryt-icon-md" alt="icon"></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Step 4</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 步骤条Multiple steps示例 - 结束 -->
        </div>
        <p>水平方向的步骤条</p>
        <div class="ryt-wingblank ryt-wingblank-lg stepsExrytple">
            <p>Horizontal small size</p>
            <!-- 水平步骤条small size示例 - 开始 -->
            <div class="ryt-steps ryt-steps-small ryt-steps-horizontal ryt-steps-label-vertical">
                <div class="ryt-steps-item ryt-steps-status-finish ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><svg class="ryt-icon ryt-icon-check-circle-o ryt-icon-md"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-circle-o"></use></svg></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Finished</div>
                            <div class="ryt-steps-description">This is description</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-process">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon">2</span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">In Progress</div>
                            <div class="ryt-steps-description">This is description</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-wait ryt-steps-custom ellipsis-item">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><svg class="ryt-icon ryt-icon-ellipsis ryt-icon-md"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ellipsis"></use></svg></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Waiting</div>
                            <div class="ryt-steps-description">This is description</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 水平步骤条small size示例 - 结束 -->
            <p>Horizontal default size</p>
            <!-- 水平步骤条default size示例 - 开始 -->
            <div class="ryt-steps ryt-steps-horizontal ryt-steps-label-vertical">
                <div class="ryt-steps-item ryt-steps-status-finish ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><svg class="ryt-icon ryt-icon-check-circle-o ryt-icon-md"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check-circle-o"></use></svg></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Finished</div>
                            <div class="ryt-steps-description">This is description</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-process">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon">2</span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">In Progress</div>
                            <div class="ryt-steps-description">This is description</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-wait ryt-steps-custom ellipsis-item">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><svg class="ryt-icon ryt-icon-ellipsis ryt-icon-md"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ellipsis"></use></svg></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Waiting</div>
                            <div class="ryt-steps-description">This is description</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 水平步骤条default size示例 - 结束 -->
            <p>Horizontal customized icon</p>
            <!-- 水平步骤条customized icon示例 - 开始 -->
            <div class="ryt-steps ryt-steps-horizontal ryt-steps-label-vertical">
                <div class="ryt-steps-item ryt-steps-status-process ryt-steps-custom error-tail">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><svg class="ryt-icon ryt-icon-pay-circle ryt-icon-md"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pay-circle"></use></svg></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Step 1</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-error ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><svg class="ryt-icon ryt-icon-pay-circle ryt-icon-md"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pay-circle"></use></svg></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Step 2</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-wait ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><svg class="ryt-icon ryt-icon-pay-circle ryt-icon-md"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#pay-circle"></use></svg></span></div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Step 3</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 水平步骤条customized icon示例 - 结束 -->
            <p>Horizontal timeline mode</p>
            <!-- 水平步骤条timeline mode示例 - 开始 -->
            <div class="ryt-steps ryt-steps-small ryt-steps-horizontal ryt-steps-label-vertical timeline">
                <div class="ryt-steps-item ryt-steps-status-wait ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><span class="fake-icon"></span></span>
                            </div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Now</div>
                            <div class="ryt-steps-description">Buy</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-wait ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><span class="fake-icon"></span></span>
                            </div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Nov. 3rd</div>
                            <div class="ryt-steps-description">Buy success</div>
                        </div>
                    </div>
                </div>
                <div class="ryt-steps-item ryt-steps-status-wait ryt-steps-custom">
                    <div class="ryt-steps-tail"><i></i></div>
                    <div class="ryt-steps-step">
                        <div class="ryt-steps-head">
                            <div class="ryt-steps-head-inner"><span class="ryt-steps-icon"><span class="fake-icon"></span></span>
                            </div>
                        </div>
                        <div class="ryt-steps-main">
                            <div class="ryt-steps-title">Nov. 4th</div>
                            <div class="ryt-steps-description">Profit arrival</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 水平步骤条timeline mode示例 - 结束 -->
        </div>
    </div>
    <!--include "../../templet/js.components.html"-->
</body>

</html>